<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bookings</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% extends "booking/base.html" %}
    {% block contain %}

    <header class="text-gray-600 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">Crystal Plaza</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
         
          <a class="mr-5 hover:text-gray-900" href="{% url 'ledger:allreports' %}">Reports</a>
          
          <a class="mr-5 hover:text-gray-900" href="{% url 'userdata:dashboard' %}">Dashboard</a>

          {% if user.is_authenticated %}
          <a class="mr-5 hover:text-gray-900" href="{% url 'userdata:logout' %}">Logout</a>
          {% else %}
          <a class="mr-5 hover:text-gray-900" href="{% url 'userdata:login' %}">Login</a>
          {% endif %}
        </nav >
        
        
   
      </div>
    </header>

{% if user.is_authenticated %}
    <div class="container">

 <h3 class="text-center mb-4">   All Bookings</h3>
 <div class="text-right mb-5">
      <a href="{% url 'booking:booking_page' %}"><button class="text-center btn btn-primary">Book A Function</button></a>
</div>

  
{% for month in months %}
      <table class="table table-bordered table-striped table-dark">
              <thead>
            <th scope="col">{{month.name}}</th>
              
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date of Event</th>
            <th scope="col">Name of Booked Person</th>
            <th scope="col">Advance</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
            
            {% for each_booking in record %}
              {% if each_booking.event_date.month == month.number and each_booking.is_completed == False %}
              
          <tr>

            <th scope="row">{{each_booking.id}}</th> 
            <td>{{each_booking.event_date}}</td>
            <td>{{each_booking.name}}, {{each_booking.location}} </td>
            <td>{{each_booking.advance}}</td>
            <td><a href="{% url 'booking:detail_view' each_booking.id %}"><button class="btn btn-light">Details</button></a></td>
          </tr>
        
                
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    

      {% endfor %}
      
</div>

{% endif %}
     {% endblock contain %}
    
    
</body>
</html>